.App {
  text-align: center;
}
.Header {
  border: 1px solid black;
}
.Nav {
  border: 1px solid black;
}
.article_section {
  border: 1px solid black;
}
.article_list {
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
